<ion-view view-title="Contact Us">
	<ion-content>
		<ion-list>
		<ion-item class="item item-divider">College Chefs, LLC</ion-item>
			<ion-item class="item item-icon-left" href="#" onclick="window.open('https://www.google.com/maps/place/411+E+Park+St+%23100,+Champaign,+IL+61820/@40.117058,-88.2345277,17z/data=!3m1!4b1!4m5!3m4!1s0x880cd7441a6c648f:0x6e59685cae2f16ca!8m2!3d40.117058!4d-88.232339', '_system', 'location=yes'); return false;"><i class="icon ion-ios-location assertive"></i>
				411 E Park St. #100, Champaign, IL
			</ion-item>
			<a href="tel:8662531550" class="item item-icon-left"><i class="icon ion-ios-telephone assertive"></i>(866) 253-1550</a>
			<a href="tel: 2175311190" class="item item-icon-left" ><i class="icon ion-ios-telephone assertive"></i>(217) 531-1190</a>
			<ion-item href="#" class="item item-icon-right" onclick="window.open('http://www.collegechefs.com/Contact-Us', '_system', 'location=yes'); return false;">Visit our website<i class="icon icon-chevron-right"></i></ion-item>
			<!-- <ion-item href="#/tab/reporting" class="item item-icon-right">Report a Bug <i class="icon icon-chevron-right"></i></ion-item>-->
		</ion-list>
	</ion-content>
</ion-view>
