<ion-view hide-nav-bar="true" hide-back-button="true" view-title="Forgot Password">
	<ion-content class="padding">
	<p>Enter your email address below to request a new password</p>
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Email">
			</label>

			<button ng-click="newPasswordRequest()" class="button button-block button-assertive">Submit</button>
			<button ng-click="backToWelcome()" class="button button-block button-stable">Cancel</button>
		</div>

	</ion-content>
</ion-view>
