<ion-view view-title="Report a Bug">
	<ion-content >
		<div class="list" id="bug-form">
		  <label class="item item-input item-stacked-label">
			 <span class="input-label">Subject</span>
			 <input type="text">
		  </label>
		  <label class="item item-input item-stacked-label">
			 <span class="input-label">Message</span>
			 <textarea rows="10"></textarea>
		  </label>

		  <div class="padding">
			  <button ng-click="submitBugReport()" class="button button-block button-assertive">Submit Bug Information</button>
		  </div>
		</div>
	</ion-content>
</ion-view>
