<!--
  This template loads for the 'tab.meal' and tab.meal/:menuId states (app.js)
  'meal' is a $scope variable created in the MealCtrl controller (controllers.js)
  The MealCtrl pulls data from the Menus service (service.js)
-->
<ion-view hide-back-button="true" ng-show="dataLoaded===true" on-swipe-right="goBack()" on-swipe-left="goNext()">
  <ion-nav-title>{{ getFormattedDate(meal.date) }}</ion-nav-title>

  <ion-nav-buttons side="left">
    <a href="#/tab/menus#today" nav-direction="swap" class="button button-icon icon icon-list"></a>
    <button ng-if="index > 0" ng-click="goBack()" class="button button-icon icon icon-chevron-left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-if="index < mealCount-1" ng-click="goNext()" class="button button-icon icon icon-chevron-right"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div ng-if="mealHasPassed(meal.name, meal.date)" class="item item-positive" role="alert">This meal has passed.</div>
    <div ng-show="noItems" ng-bind-html="noItems" style="text-align:center"></div>

    <h2>{{ meal.name }}</h2>
    <ul ng-bind-html="meal.fullmenu" class="meal-items"></ul>

    <div ng-switch on="meal.latePlateStatus">

      <!-- <div ng-switch-when="eligible" ng-if="meal.name != 'Breakfast' && meal.entree.toUpperCase() != 'NO SERVICE'"> -->

      <div ng-switch-when="eligible" ng-if="showLatePlateButton(meal.name, meal.date)">
        <div ng-if="!latePlateDeadlineHasPassed(meal.name, meal.date)">

          <button type="button" class="button button-assertive request-lp" ng-click="openModal(1)">Request Late Plate</button>
          <div class="late-plate-message">
            <span ng-bind-html="getLatePlateMsg(meal.name, meal.date, true)" class="is-due"></span>
          </div>
        </div>
        <div ng-if="latePlateDeadlineHasPassed(meal.name, meal.date)" class="item item-light" style="margin-top: 15px;">
            <div class="late-plate-message">
              <span class="has-expired">The deadline to order Late Plates has expired</span>
            </div>
          </div>
        </div>
      </div>

      <div ng-switch-when="pending">
        <div class="alert alert-warning pending-warning-meal" role="alert">
          <i class="icon icon-check-circle"></i> Order Pending
          <small>Your request has been submitted</small>
        </div>
        <div ng-if="showLatePlateButton(meal.name, meal.date)">
          <button class="button button-assertive request-lp" ng-click="openModal(2)">Cancel Late Plate</button>
        </div>
      </div>

      <div ng-switch-when="complete">
        <div class="alert alert-warning pending-warning-meal meal-complete" role="alert">
          <i class="icon ion-happy"></i> Order Complete
          <small>Your request has been filled</small>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
