<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-dark tabs-background-dark">

  <!-- Individual Meal Tab -->
  <ion-tab title="Meals" icon-off="icon-strawberry" icon-on="icon-strawberry yellow" href="#/tab/meal/next">
    <ion-nav-view name="tab-meal"></ion-nav-view>
  </ion-tab>

  <!-- Menu Tab -->
  <ion-tab title="Menus" icon-off="icon-plate" icon-on="icon-plate yellow" href="#/tab/menus">
    <ion-nav-view name="tab-menus"></ion-nav-view>
  </ion-tab>

  <!-- Reviews Tab
  <ion-tab title="Reviews" icon-off="icon-heart" icon-on="icon-heart yellow" href="#/tab/reviews">
    <ion-nav-view name="tab-reviews"></ion-nav-view>
  </ion-tab>
	-->

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="icon-gear" icon-on="icon-gear yellow" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
