<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Cancel Late Plate Request</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <h3>Are you sure you want to cancel your request?</h3>
    <button type="button" class="button button-assertive request-lp" ng-click="cancelLatePlate(meal.dnnMealId)" role="button">Yes, I'm sure</a>
    <button type="button" class="button button-assertive request-lp-cancel" ng-click="closeModal(2)">No</button>
  </ion-content>
</ion-modal-view>
