/**
 * VARIABLES
 *
 * red:       #ef473a;
 * green:     #33cd5f;
 */

@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?bd4vpu') format('truetype'),
    url('fonts/icomoon.woff?bd4vpu') format('woff'),
    url('fonts/icomoon.svg?bd4vpu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\f03a";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-check:before {
  content: "\e900";
}
.icon-check-circle:before {
  content: "\e901";
}
.icon-chevron-left:before {
  content: "\e902";
}
.icon-chevron-right:before {
  content: "\e903";
}
.icon-clock:before {
  content: "\e904";
}
.icon-exclamation:before {
  content: "\e905";
}
.icon-exclamation-circle:before {
  content: "\e906";
}
.icon-gear:before {
  content: "\e907";
}
.icon-heart:before {
  content: "\e908";
}
.icon-minus:before {
  content: "\e90a";
}
.icon-minus-circle:before {
  content: "\e90b";
}
.icon-plate:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-plus-circle:before {
  content: "\e90e";
}
.icon-star:before {
  content: "\e90f";
}
.icon-strawberry:before {
  content: "\e910";
}
.icon-x:before {
  content: "\e911";
}
.icon-x-circle:before {
  content: "\e912";
}

* {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.01em;
}

.padding {
	padding: 20px;
}

.is-red {
    color: #e03730 !important;
}

.right {
	float: right;
	text-align: right;
}

h2 {
  font-size: 34px;
}

small {
  font-size: 80%;
}

.bar .button.button-icon .icon::before, .bar .button.button-icon::before, .bar .button.button-icon.icon-left::before, .bar .button.button-icon.icon-right::before, .bar button.button-icon .icon::before, .bar button.button-icon::before, .bar button.button-icon.icon-left::before, .bar button.button-icon.icon-right::before {
    font-size: 16px
}

.item h2 {
  font-weight: 500;
	font-size: .9em;
}
.help-content .item h2 {
  font-size: 1em;
}

.item-note {
  font-weight: 400;
}

.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
	border-radius: 0;
    max-width: 48px;
    max-height: 48px;
    top: 10px;
    left: 10px;
}

.item, .pane, .view, .item-divider, .item-stacked-label input, .item-stacked-label textarea, .modal {
	background-color: #faf8ed;
}

.item-bg-white {
	background-color: #fff;
}
.item {
    font-size: 15px;
	 font-weight: 800;
}
ion-item.has-passed {
    opacity: .5;
}
.button.request-lp {
    width: 100%;
    box-shadow: 2px 2px 1px #7e1713;
    color: #faf8ed;
    margin: 30px 0 15px;
    padding: 15px 10px;
    font-size: 1.25em;
}

.button.request-lp + p {
  margin: 5px 0 0;
}

.button.request-lp + p .icon {
  margin-right: 2px;
  position: relative;
  top: 1px;
}

button.button.request-lp-cancel {
    width: 100%;
    background: #a4a4a4;
    color: #faf8ed;
    padding: 10px;
}
.button.cancel-lp {
    width: 50%;
    padding: 0px !important;
    line-height: 30px;
    min-height: 0;
    margin-top: 20px;
    font-size: 14px;
    margin-left: 55px;
}
.bar-dark .button {
    color: #eaec92;
}
.item.item-divider {
    color: #94907a;
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 10px;
    text-transform: uppercase;
    padding-top: 20px;
    min-height: 0px;
}

.item.item-divider.is-today {
  color: #5d5a4b;
  font-weight: 700;
}

ul.meal-items {
  font-size: 16px;
  list-style: disc outside;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  padding-left: 6px;
}

ul.meal-items li + li {
  padding-top: 6px;
}
.tab-item .icon {
    font-size: 29px;
    margin: 2px 0 0;
}

.tab-item .icon.yellow {
    color: #eaec92;
}

.tab-item.tab-item-active {
  border: 0 !important;
  margin: 0 !important;
}

.background-dark {
	background-color: #333;
}
.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.account-text {
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}

.is-block {
    display: block;
}

.account-text a {
    color: #eaec92;
}
img.welcome-logo {
    display: block;
    margin: 30px auto;
}
.button.button-assertive {
    box-shadow: 2px 2px 1px #7e1713;
}
p.password-help {
    margin: 20px 0 10px;
    text-align: center;
}

p.password-help a {
  color: #a4a4a4;
}

.account-actions {
	margin-top: 30px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.hideElements {
	display:none;
}
.loading-container .loading {
    background: transparent;
}

.backdrop {
    background-color: #333;
}

.spinner svg {
    width: 50px;
    height: 50px;
}
.error-message {
    background-color: #585858;
    color: #fff;
}
.error-message.card {
  margin-top: 0;
}
.error-message h3 {
  font-size: 21px;
  color: white;
}
.error-message p:last-child {
  margin-bottom: 0;
}
.error-message a {
  color: #ef473a;
  font-weight: 700;
  text-decoration: none;
}
.error-message a.button + a.button {
  margin-left: 10px;
}
.alert.alert-warning.pending-warning-meal {
  margin-top: 30px;
  font-size: 23px;
  font-weight: 700;
  line-height: 25px;
}
.alert.alert-warning {
  color: #2b8838;
}
.pending-warning-meal small {
    display: block;
	 font-size:60%
}
.pending-warning-meal .icon {
    font-size: 47px;
    float: left;
    margin-right: 15px;
}
.alert.alert-warning.meal-complete {
    color: #e03730;
}
.no-items-icon {
    font-size: 60px;
    display: block;
    padding: 30px;
    text-shadow: 2px 2px 0px #444;
}

span.back-text {
    display: none !important;
}
ion-view.pane::before {
    /* content: ""; */
    display:block;
    position: absolute;
    top:0;
    left:0;
    right:0;
    height:44px;
    background-color:#444;
}
.register-form {
    margin-top:30px;
}

.app-version {
  color: #5a5a5a;
  font-size: 13px;
}

.login-note {
  color: #a5a5a5;
  font-size: 13px;
  line-height: 17px;
  padding: 10px 0 5px;
}


.item-icon-left .icon,
.item-icon-right .icon {
  font-size: 16px;
  padding: 0 10px;
}

.item-icon-left .icon {
  left: 0;
}

.item-icon-right .icon {
  right: 0;
}





.late-plate-message {
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
}

.late-plate-message .has-expired {
  color: #999;
}

.late-plate-message .is-due {
  color: #ef473a;
}

.late-plate-message .is-requested {
  color: #999;
}

.late-plate-message .is-complete {
  color: #33cd5f;
}

.late-plate-message .icon {
  margin-right: 3px;
  position: relative;
  top: 1px;
}





.tab-menu .item-content {
  display: flex;
  padding: 16px !important;
}

.tab-menu .item-meal-icon {
  width: 48px;
  height: 48px;
}

.tab-menu .item-meal-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  max-width: 100%;
  overflow-x: hidden;
  padding-right: 16px;
  padding-left: 16px;
  position: relative;
}

.tab-menu .item-meal-title {
  font-size: 18px;
}

.tab-menu .late-plate-message {
  font-size: 12px;
  line-height: 1;
  position: absolute;
  top: 0;
}

.tab-menu .icon {
  position: relative;
  height: auto;
  padding: 0;
}

.tab-menu .icon::before {
  width: auto;
}
